
.container {
max-width: 1100px;
margin: 0 auto;
width: 100%;
}
@media (max-width: 1200px) {
.container {
  max-width: 970px;
}
}
@media (max-width: 992px) {
.container {
  max-width: 750px;
}
}
@media (max-width: 767px) {
.advantages__items{
  grid-template-columns: 1fr !important;
}
.container {
  max-width: 320px !important;
}
}

.advantages__container {}
.advantages__h2 {
font-size: 11px;
  width: 97px;
  height: 37px;
  justify-content: center;
  align-items: center;
  display: flex;
  background: #F2F6FA;
  border-radius: 5px;
}
.advantages__items {
  padding-left: 32px;
margin-top: 30px;
line-height: 150%;
  font-size: 18px;
  column-gap: 57px;
  row-gap: 30px;
  grid-template-columns: 1fr 1fr;
  display: grid;
}
.advantage {
transform: scale(0);
  padding-inline-start: 1ch;
  list-style: decimal-leading-zero;
}

.advantage__header {
font-weight: bold;
}
.advantage__text {}

.advantages__button {
  border-radius: 5px;
  background: #FED84C;
  height: 52px;
  width: 237px;
  text-align: center;
  font-size: 15px;
  display: block;
  margin: 80px auto 0;
  transition: all 0.2s ease-in;
}
.advantages__button:hover{
background:#f3a74b;

}
.advantages__button:active{
background:#895d28;
transform: scale(0);
}
