//=======================================================================



.banner {
padding: 237px 0 306px 0;
background: url(https://imageup.ru/img21/4407119/banner-1.jpg) 0 0 no-repeat;
background-position: center;
background-size: cover;
margin-top: -80px;

/* .banner__container */
}
.banner__container {
}

/* .banner__banner-text */

.banner__banner-text {
color:white;
row-gap: 40px;
display: flex;
flex-direction: column;
animation: onload;
animation-duration: 1s;
}


.banner-text {


}
/* .banner-text__up */

.banner-text__up {
background:white;
width: 145px;
height: 37px;
font-size: 11px;
font-weight: 400;
display: flex;
justify-content: center;
align-items:center;
border-radius: 5px;
color:black;
}

/* .banner-text__middle */

.banner-text__middle {
font-size: 48px;
font-weight: bold;

}

/* .banner-text__down */

.banner-text__down {
font-size: 24px ;
font-weight: 100;

}

/* .banner-text__button */

.banner-text__button {
width: 274px;
height: 54px;
text-align: center;
background:#F3DA4B;
border: 0;
border-radius: 5px;
color:black;
font-size: 18px;
font-weight: 500;
transition: all 0.2s ease-in;
&:hover{
  background:#f3a74b; 
  }
  &:active{
  background:#895d28;
  transform: scale(0);
  }
}
.banner-text__button:hover{
background:#f3a74b;
}

//=======================================================================

//=======================================================================

//=======================================================================

//=======================================================================

//=======================================================================

//=======================================================================

//=======================================================================

//=======================================================================

//=======================================================================

//=======================================================================

//=======================================================================

//=======================================================================

//=======================================================================

//=======================================================================

//=======================================================================

//=======================================================================

//=======================================================================

//=======================================================================

//=======================================================================

//=======================================================================

//=======================================================================

//=======================================================================

//=======================================================================

//=======================================================================

//=======================================================================

//=======================================================================

//=======================================================================

//=======================================================================

//=======================================================================

//=======================================================================

//=======================================================================

//=======================================================================

//=======================================================================

//=======================================================================

//=======================================================================

//=======================================================================

//=======================================================================

//=======================================================================

//=======================================================================

//=======================================================================

//=======================================================================

//=======================================================================

//=======================================================================

//=======================================================================

//=======================================================================

//=======================================================================

//=======================================================================

//=======================================================================

//=======================================================================

//=======================================================================

//=======================================================================

//=======================================================================

//=======================================================================

//=======================================================================

//=======================================================================

//=======================================================================

//=======================================================================

//=======================================================================

//=======================================================================