//===================================================================================
.cloud-line-up {
  margin-top: -250px;
  height: 300px;
  background: url(https://imageup.ru/img155/4407137/cloud-line.png);
  background-size: cover;
}

//===================================================================================
.cloud-line-down {
  height: 300px;
    margin-bottom: -250px;
  transform: rotate(180deg);
  background: url(https://imageup.ru/img155/4407137/cloud-line.png);
  background-size: cover;
}
//===================================================================================
.disabled{
  display:none
}
//===================================================================================
.hidden{
  transform: scale(0);
}
//===================================================================================
.arr {
  user-select: none;
  font-family: emoji;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 50px;
  width: 50px;
  background: #F3DA4B;
  font-size: 35px;
  flex-shrink: 0;
  transition: all .05s ease-in;
}
//===================================================================================
.arr:hover {
  background: #f3a74b;
}

.arr:active {
  background: #8e622d;
  color: white
}
//===================================================================================
.half-hide{
  opacity:0.3;
  transform: scale(0.7);
}
//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================