.header {
  justify-content: center;
  display: flex;
  height: 50px;
  background: none;
  
  // .header__container
  
  &__container {
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 50px 0;
  }
  
  // .header__logo
  
  &__logo {
    & img{
      width: 79px;
    }
  }
  
  // .header__contacts
  
  &__contacts {
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    display: flex;
    color: white;
  }
  }
  .contacts {
  
  // .contacts__adress
  
  &__adress {
    column-gap: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 12px;
  }
  
  // .contacts__number
  
  &__number {
    column-gap: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-weight: bold;
    font-size: 20px;
  }
  }
  